<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93462325667-khgnicpscsd41r1oqmfr7dh3r9gkvt6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93462325667-khgnicpscsd41r1oqmfr7dh3r9gkvt6t</string>
	<key>API_KEY</key>
	<string>AIzaSyCmOHAif52nQTjnmo4diU2GG9KyUprthJM</string>
	<key>GCM_SENDER_ID</key>
	<string>93462325667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cobyzero.altercourse.alterCourse</string>
	<key>PROJECT_ID</key>
	<string>altercourse-e177f</string>
	<key>STORAGE_BUCKET</key>
	<string>altercourse-e177f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93462325667:ios:f3b2c80e79cc38646c5216</string>
</dict>
</plist>